
body {
    /* Text of the page has size of 8pt and uses Verdana, Tahoma, or any sans-serif font on the system 
    Page has no margin or padding - the contents stretch to the very edge of the browser window       */
    font-size: 8pt;
    font-family: "Verdana", "Tahoma", "sans-serif";
    margin: 0%;
     /* Background of the page should be background.png */
     background-image: url(background.png);
}

div#banner {
    /* at the center of this banner, there is banner.png */
    text-align: center;
    /* as a background of this banner, bannerbg.png repeats horizontally across the length of the page */
    background-image: url(bannerbg.png);
    height: 50px;
}

div#header {
    /* is centered and uses 24pt bold font
    uses Tahoma, Verdana, or sans-serif font available on the system
    has shadow - 3px to right and down - with color #999999
    */
    font: 24px bold; 
    text-align: center;
    text-shadow: 3px 3px #999999;
}

article {
    /* occupies 800px width and centered horizontally within the page */
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;
}

section {
    width: 550px;
}

div#section_banner{
    height: 83px;
    background-image: url(rbg.png);
}

#rate {
    vertical-align: top;
    font-size: 48pt;
    font-weight: bold;
    color: red;
}
div#review_section {
    font-size: 8pt;
    background-color: #E8DC9B;
}

/* each column occupies 47% of the width of the overall left section */
.section_column {
    width: 47%;
    float: left;
    /* there is a horizontal spacing of 2% between columns and neighboring content  */
    padding-left: 2%;
}

 /* EX5부터 다시 진행해야함  */
 /*  Each review box with quote :*/
 .section_column  p:nth-child(odd) {
    font-size: 8pt;
    border: 2px solid gray;
    border-radius: 10px;
    padding : 8px;
    background-color: #E8DC9B;
    overflow: hidden;
}

 /*  Each reviewer box with :*/
.section_column  p:nth-child(even) > img{
    float: left;
    margin-right: 5px;
}

 /*  Each reviewer box with :*/
.section_column  p:nth-child(even) {
    font-style: italic;
    overflow: hidden;
    margin-bottom: 20px;
}

.section_column p .review_img {
    /* has fresh.gif or rotten.gif icon for the each review on the left 
    side of the box has 5px spacing on the right */
    margin-right: 5px;
    float: left;
}

figure { 
    width: 250px;
    background-color: #A2B964;
    float: right;
    margin: 0%;
}

figure > dl {
    padding: 10px;
    font: 8pt "sans-serif";
}

figure > dl > dt {
    font-weight: bold;
}

figure > dl > dd {
    margin-bottom: 10pt;
    font-weight: bold;
}

figure > dl > dd > ul {
    list-style-type: none;
    /* has a list of links at the bottom that sohuld be shown without bullets or indentation */
    padding-left: 0%;
}

footer  {
    /* background-color: #A2B964; */
    position: relative;
    left: 0;
    bottom: 0;
    width: 800px;
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
    /* should have no spacing between its vertically neighbouring elements */
    clear: right;
}

#validator {
    float: right;
    opacity: 0.50;
    right: 0;
    bottom: 0;
    position: fixed;
    /* remain fixed in the page's bottom-right corner, even after scrolling */
}